
# Laravel & PHP
.env
.env.*
/.phpunit.result.cache
/vendor/
/node_modules/
/storage/*.key
/storage/app/public/
/storage/debugbar/
/storage/framework/
/storage/logs/
/bootstrap/cache/

# Laravel Nova
/.nova/

# Laravel Vapor
.vapor/

# Laravel IDE Helper
_ide_helper.php
_ide_helper_models.php

# Laravel Telescope
storage/telescope/

# Laravel Horizon
storage/horizon/

# Laravel Sail
.docker/
sail.log

# Laravel Mix / Vite
public/hot
public/build/

# Misc
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
/.idea/
/.vscode/
/.fleet/
/.zed/
auth.json

public/build/manifest.json
